.Logo {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  margin: 2vh auto 4vh;
  display: block;
}

.CreateAccountMessage {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1vh;
  padding: 2vh;
  margin-top: -3vh; 
  margin-bottom: 5vh;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

input {
  width: 100%;
  margin-top: -5vh;
  padding: 1vh;
  text-align: center;
}

.CreateAccountButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  margin-top: 15vh;
  margin-bottom: 5vh;
  padding: 2vh 4vw;
  font-size: 2vh;
}

.EncouragementMessage {
  background-color: #bd73ff;
  color: #ffffff;
  border-radius: 2vh;
  padding: 2vh; 
  width: 90%;
  max-width: 400px;
  margin-top: 0vh;
  text-align: center;
}
