  /* Logo */
  .Logo {
    width: 20vh; /* Adjust the size as needed */
    height: 20vh;
    border-radius: 50%; /* Makes the image round */
    background: url('/public/images/logo.png') no-repeat center center;
    background-size: cover; /* Cover the logo area */
    margin-bottom: 2vh;
  }

  .CreateAccountMessage {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    width: 40vh;
    border-radius: 1vh;
    padding: 2vh;
    margin-bottom: 2vh;
    text-align: center;
  }
  
  /* Bouton Connect */
  #BoutonCreateConnect {
    background-color: #f8f8f8;
    color: #000000;
    padding: 2vh 4vw;
    margin: 2vh;
    border: none;
    border-radius: 1vh;
    font-size: 2vh;
    text-align: center;
  }
  
  /* Connect Text */
  #ConnectText {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1vh;
    padding: 2vh;
    margin-top: 3vh;
    font-size: 2vh;
    text-align: center;
  }
  

  /* Username Label */
  #UsernameLabel {
    position: absolute;
    padding: 2vh;
    margin-top: 3vh;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  /* Username Input */
  #UsernameInput {
    position: absolute;
    width: 204px;
    height: 37px;
    background: #FFFFFF;
  }
  
  /* Password Label */
  #PasswordLabel {
    position: absolute;
    padding: 2vh;
    margin-top: 3vh;
    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }
  
  /* Password Input */
  #PasswordInput {
    position: absolute;    
    width: 204px;
    height: 37px;
    background: #FFFFFF;
  }
  
  /* Encouragement Message */
  #EncouragementMessage {
    background-color: #bd73ff;
    border-radius: 1vh;
    padding: 2vh;
    margin-top: 3vh;
    font-size: 2vh;
    text-align: center;
  }
  
  