.VideoPart{
  margin-left: 5%;
  margin-top:-5%;
  width: 80%;
  height: 40%;
  background-color: grey;
}

.Word{
  margin-left: 5%;
  margin-top: 5%;
  width: 80%;
  height: 10%;
  background-color: white;
}

.ImagePlace{
  margin-left: 5%;
  margin-top: 5%;
  width: 80%;
  height: 40%;
  background-color: white;
}