.VideoPart{
  margin-left: 5%;
  margin-top: -60%;
  width: 80%;
  height: 40%;
  background-color: grey;
}

.Word{
  margin-left: 5%;
  margin-top: 10%;
  width: 80%;
  height: 20%;
  background-color: white;
}