 .roadmap-image {
    width: 50vh;
    height: 92vh;
  }

 .level-number {
    margin: 10px;
    padding: 20px;
    background-color: #ddd; /* Different background to distinguish */
  }
  
  /* General button style */
.level-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4CAF50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Position each button absolutely within the roadmap container */
  .level-1 
  { background-color: #CC8AFF; 
    transform: translateX(-50%); 
    margin-left: 40%;
    margin-top: -2%;
  }
  .level-2 
  {
     background-color: #8AABFF; 
     margin-left: 60%;
     margin-top: 22%;
     transform: translateX(-50%); 
   }
  
   .level-3 { 
    background-color: #9AE8A7; 
    margin-left: 40%;
    margin-top: 27%;
    transform: translateX(-50%); }

  .level-4 { 
    background-color: #FFE786;  
    margin-left: 60%;
    margin-top: 25%;
    transform: translateX(-50%); }
  .level-5 { 
    background-color: #F6A6C2; 
    margin-left: 40%;
     margin-top: 25%;
    transform: translateX(-50%); }
  
  .roadmap-items {
    position: absolute;
    top: 10%;
    left: 27.5%;
    width: 44%;
    height: 80%;
  }
  
  .level-1 {
    top: 0;
    left: 0;
  }

  .level-2 {
    top: 0;
    left: 0;
  }
  
  .level-3 {
    top: 0;
    left: 0;
  }
  
  .level-4 {
    top: 0;
    left: 0;
  }

  .level-5 {
    top: 0;
    left: 0;
  }
  
  
  